{{ "<!-- Terms and Conditions -->" | safeHTML }}
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head" . }}

    <body>
        {{ partial "nav" . }}
        <div class="section-container">
            <p class="section-title">Terms and Conditions</p>
        </div>
        <div class="content-wrapper">
            <p class="heading">Effective Date: May 2019</p>
            <p class="content">
                This Agreement (<strong>"Agreement"</strong>) and the
                policies referred to herein contain the terms and conditions
                that apply to your use of our Website www.scalereal.com and/or
                our Web Applications, developed by Us from time to time
                and services provided therein (<strong>"Website"</strong>)
                and all affiliated Websites owned, operated, licensed or
                controlled by scalereal Inc. (<strong>"Company"</strong>).
                Please note that every time we use the word Website, it
                also includes reference to our App.
                <br class="line-break" />
                PLEASE READ THIS AGREEMENT CAREFULLY. THIS AGREEMENT GOVERNS
                YOUR USE OF THE WEBSITE AND/OR OUR APP AND SERVICES MADE
                AVAILABLE THROUGH THE WEBSITE AND/OR OUR APP. IF YOU DO NOT
                AGREE TO THE TERMS OF THIS AGREEMENT OR ANY REVISED VERSION
                OF THIS AGREEMENT, PLEASE DO NOT USE THIS WEBSITE/ APP INCLUDING
                ANY ADVICE OR OPINION THAT YOU MAY HAVE RECEIVED ON THE
                WEBSITE/ APP IN ANY WAY.
                <br class="line-break" />
                Your access or use of the Website creates a binding and
                enforceable legal agreement between you, the Website user, and
                Company and signifies your understanding, acceptance and consent
                to be bound by the terms and conditions contained in
                this Agreement. We grant you permission to use the Website
                subject to the restrictions in these Agreement.
                <br class="line-break" />
                BY USING THE WEBSITE AND/OR OUR APP, AND/OR BY REGISTERING WITH
                US, YOU AGREE THAT YOU ACCEPT THIS AGREEMENT.
                <br class="line-break" />
                <strong>NOTE:</strong>
                The expression you and its grammatical variations refer to
                the individual who is
                accessing this Website. If you are not the user for whom the
                Services are being sought, then
                by accessing this Website, you assume full responsibility to
                communicate the terms and
                conditions under which this Website and the Services on the
                Website are being made
                available to the user. Prior to accessing the Website, you must
                ensure that you have been
                lawfully authorized to share the user's Personal Information,
                records and information with
                the Company for the purposes envisaged in this Agreement and the
                Privacy Policy and obtain
                the services contained herein for the user.
                <br class="line-break" />
            </p>
            <p class="sub-heading">About the website/app</p>
            <p class="content">
                Everything we offer on the Website/App is referred to in this
                Agreement collectively as the
                <strong>"Services"</strong> Some information available on
                the Website is viewable without registering with us, but
                to avail benefit of most Services, you must register as a member
                and authorize the use and disclosure of your personal
                and health information for purposes of allowing us to provide
                the Services and as otherwise disclosed in our
                <a href='/privacy-policy'>Privacy Policy.</a>
            </p>
            <p class="sub-heading">License to use the site</p>
            <p class="content">
                The Company grants you a limited license to access and make
                personal use of the Website, subject to the Terms. Without
                the express written consent of the Company, you may not
                reproduce, duplicate, copy, download, sell or otherwise exploit
                for any commercial purpose the Website and any portion hereof.
                This limited license terminates automatically, without
                notice to you, if you breach these Terms.
            </p>
            <p class="sub-heading">Purchases</p>
            <p class="content">
                If you wish to purchase any our product or service (<strong>"Purchase"</strong>),
                you may send the request in one of
                the following ways:
                <br class="line-break" />
            </p>
            <ul>
                <li>send the request via contact form,</li>
                <li>
                    send an email to <span class="email">info@scalereal.com</span>
                </li>
            </ul>
            <p class="sub-heading">Payment of fees</p>
            <p class="content">
                You acknowledge that you or any authorized individual acting on
                your behalf is responsible for all fees charged by the
                Company for the Services. You understand that you (or anyone
                else authorized by you) must pay these fees in advance, and
                that it is your responsibility to pursue any third-party
                insurance reimbursement at your own expense, if any.
            </p>
            <p class="sub-heading">Refunds</p>
            <p class="content">
                The Company believes in the quality of its Services and incurs
                substantial costs to make the Services available to you.
                Therefore, the Company does not offer part or full refund
                against its Services under any circumstance.
                <br class="line-break" />
                If you are not satisfied with the Services provided to you, you
                may write about your grievance along with detailed
                reasons for your non-satisfaction to <span class="email">support@scalereal.com</span>.
                We assure you
                that your grievance will be processed objectively.
                <br />
                You have been informed in the Privacy Policy that you have the
                option to withdraw consent for use of your Personal
                Information at any time. However, if you withdraw your consent
                after the advance payment is made, the advance will not
                be returned.
            </p>
            <p class="sub-heading">Termination</p>
            <p class="content">
                We may terminate, withdraw, discontinue or suspend access to our
                Website immediately, without prior notice or liability,
                for any reason whatsoever, including without limitation if you
                breach the Terms.
                <br class="line-break" />
                All provisions of the Terms which by their nature should survive
                termination shall survive termination, including,
                without limitation, ownership provisions, warranty disclaimers,
                indemnity and limitations of liability.
            </p>
            <p class="sub-heading">Content, copyrights and trademarks</p>
            <p class="content">
                All text, material, data, and information, data files,
                description of our services or/and our products, graphics,
                images, user interfaces, visual interfaces, photographs,
                trademarks, logos and computer code etc. (
                <strong>"Content"</strong>), contained on the Website is
                owned, controlled or licensed by or to Company, and is
                protected by applicable intellectual property and other laws,
                including trademark and copyright laws. Company owns and
                retains all copyrights in the Content.
                <br class="line-break" />
                You acknowledge that Company does not make any representations
                or warranties about the Content which you may have access
                to. Under no circumstances is Company liable in any way for any
                Content, including, but not limited to: any infringing
                Content, any errors or omissions in Content, or for any loss or
                damage of any kind incurred as a result of the use of
                any Content posted, transmitted, linked from, or otherwise
                accessible through or made available via the Website.
                <br class="line-break" />
                You agree that you are solely responsible for your reuse of
                Content made available through the Website, including
                providing proper attribution. You should review the terms of the
                applicable license before you use the Content so that
                you know what you can and cannot do.
                <br class="line-break" />
                Except as expressly provided in these Terms, no part of the
                Website and no Content may be
                copied, reproduced, modified, published, republished, uploaded,
                posted, publicly displayed,
                encoded, translated, transmitted or distributed in any way
                (including "mirroring") to any other
                computer, server, web site or other medium for publication or
                distribution or for any
                commercial enterprise, without Company’s express prior written
                consent. You also agree not
                to modify, rent, lease, loan, sell, distribute, transmit,
                broadcast, or create derivative works
                based on the Content or the Website, in whole or in part, by any
                means.
                <br class="line-break" />
                Company's logos and trademarks are trademarks and the property
                of Company. The
                appearance, layout, color scheme, and design of the Website are
                protected trade dress. You
                do not receive any right or license to use the foregoing. We may
                use and incorporate into the
                Website any suggestions or other feedback you provide, without
                payment or condition.
                <br class="line-break" />
                You may use the Website or/and Content solely for your
                commercial, business, personal
                purposes and/or to learn about Company's products and services,
                and solely in compliance
                with these Terms; provided that you not remove any proprietary
                notice language in Content
                or part of Content, do not copy or post such Content or part of
                Content on any networked
                computer or broadcast it in any media, make no modifications to
                any such Content or part of
                Content and not make any additional representations or
                warranties relating to Website, such
                Content or part of Content or/and Company's products or/and
                services. Any unauthorized use
                terminates the permission or license granted by Company. You are
                granted a limited,
                revocable, and nonexclusive right to create a hyperlink to the
                home page of Company so long
                as the link does not portray Company, its affiliates, or their
                products or services in a false,
                misleading, derogatory or otherwise offensive manner.
            </p>
            <p class="sub-heading">Feedback and suggestions</p>
            <p class="content">
                We appreciate and welcome your comments and suggestions on the
                Company's Website.
                You agree that the Company may use your feedback, suggestions,
                or ideas in any way,
                including in future modifications of the Website or other
                Services, products, advertising or
                marketing materials. You grant the Company a perpetual,
                worldwide, fully transferable,
                sublicensable, irrevocable, fully paid-up, royalty free license
                to use the feedback, suggestions
                and ideas you provide to the Company in any way. The Company
                will not sell, publish or
                share your feedback in a way that could identify you without
                explicit permission.
            </p>
            <p class="sub-heading">Prohibited use of the website</p>
            <p class="content">By accessing the Website, you agree that you will
                not:</p>
            <br class="line-break" />
            <ul>
                <li>Use the Website in violation of these Terms;</li>
                <li>
                    Copy, modify, create a derivative work from, reverse
                    engineer or reverse assemble the Website, any user accounts,
                    the technology and equipment supporting the Website, or
                    otherwise attempt to discover any source code, or allow any
                    third party to do so;
                </li>
                <li>
                    Use the Service outside of the scope of the limited license
                    herein granted, sell, assign, sublicense, distribute,
                    copy, modify, adapt, translate, prepare derivative works
                    from, commercially exploit, grant a security interest in or
                    otherwise transfer any right in, or make available to a
                    third party, the Content or Website in any way, including
                    but not limited to use for the sole purpose of obtaining a
                    competitive advantage against the Company;
                </li>
                <li>
                    Register, attempt to register, or assist anyone else to
                    register any trademark, trade name, service marks, logos,
                    domain names and other distinctive brand features, a
                    copyright or other proprietary rights associated with the
                    Company;
                </li>
                <li>
                    Reverse engineer, disassemble, or decompile any software or
                    otherwise attempt to discover any source code or trade
                    secrets related to the Service, in any manner, except as
                    permitted by applicable law;
                </li>
                <li>Use or launch any automated system, including without
                    limitation "deep-link", "page-
                    scrape", "robots", "spiders", or "offline readers" or other
                    automatic device, program,
                    algorithm or methodology, or any similar or equivalent
                    manual process, to access,
                    acquire, copy or monitor any portion of the Website or any
                    Content, or in any way
                    reproduce or circumvent the navigational structure or
                    presentation of the Website or
                    any Content;</li>
                <li>
                    Use the Website in any manner that damages, disables,
                    overburdens,
                    or impairs Website or interferes with any other party's use
                    and
                    enjoyment of the Website;
                </li>
                <li>Mirror or frame the Website or any part of it on any other
                    web site or web page;</li>
                <li>Use data mining, robots, or other data gathering devices on
                    or through the Website;</li>
                <li>
                    Post incomplete, false, or misleading information,
                    impersonate another person, or misrepresent your affiliation
                    with
                    a person or entity;
                </li>
                <li>
                    Send any prohibited content which is illegal and harmful and
                    that induces a conduct which is unlawful, defamatory,
                    obscene, racial, offensive, pornographic or culturally
                    offensive or otherwise reasonably and is likely to generate
                    such conduct;
                </li>
                <li>Post or disclose Personal Information about another person
                    without their consent,
                    infringe anyone's intellectual property rights, including
                    copyrights, trademarks,
                    patents and trade secrets. Infringe anyone's privacy or
                    publicity rights, which include
                    but are not limited to impersonating another person or
                    entity or posting images of
                    someone without their permission;</li>
                <li>
                    Sell, transfer, or assign any of your rights to use the
                    Website to a third party without our express written
                    consent;
                </li>
                <li>Attempt to gain unauthorized access to the Website;</li>
                <li>
                    Probe, scan or test the vulnerability of the Website or any
                    network connected to the Website, nor breach the
                    security or authentication measures on the Website or any
                    network connected to the Website;
                </li>
                <li>Engage in activities which include but are not limited to
                    hacking other computers or
                    servers, including the Company's; or violate any
                    requirements, procedures, policies or
                    rules of networks related to the system;</li>
                <li>Upload files that contain viruses, worms, corrupted files,
                    or any other similar
                    software, programs or malicious content that may damage the
                    operation of systems
                    hosting the Company's Website or another's computer;</li>
                <li>Engage in any activity that restricts or inhibits any other
                    account holder from using or enjoying the Services;</li>
                <li>
                    Indulge in criminal or terrorist activity against any nation
                    or society, or cause any threat or harassment to any
                    person or public as a whole;
                </li>
                <li>
                    Take any action that imposes an unreasonable or
                    disproportionately large load on the infrastructure of the
                    Website
                    or any systems or networks connected to the Website;
                </li>
                <li>
                    Use any device, software or routine to interfere or attempt
                    to interfere with the proper working of the Website;
                </li>
                <li>Violate any applicable laws or regulations.</li>
            </ul>
            <p class="sub-heading">Privacy policy</p>
            <p class="content">
                By using the Website you accept the terms of Privacy Policy
                which is an integral part of these Terms.
                <br class="line-break" />
                Please check our Privacy Policy to learn more <a
                    href='/privacy-policy'>www.scalereal.com/privacy-policy</a>.
            </p>
            <p class="sub-heading">Links</p>
            <p class="content">
                Our Website may contain links to third-party web sites or
                services that are not owned or controlled by Company. Links on
                the Website to third party web sites or information are provided
                solely as a convenience to you.
                <br class="line-break" />
                Such links do not constitute or imply an endorsement,
                sponsorship, or recommendation by Company of the third party,
                the
                third-party web site, or the information there.
                <br class="line-break" />
                Company has no control over, and assumes no responsibility for,
                the content, privacy policies, or practices of any third
                party web sites or services or for the availability of any such
                web sites. You further acknowledge and agree that
                Company shall not be responsible or liable, directly or
                indirectly, for any damage or loss caused or alleged to be
                caused by or in connection with use of or reliance on any such
                content, goods or services available on or through any
                such web sites or services.
                <br class="line-break" />
                Company reserves the right at any time and in its sole
                discretion to request that you remove all links or any
                particular
                link to Website. You agree to immediately remove all links to
                Website upon such our request.
                <br class="line-break" />
                No link(s) to our Website may appear on any page on your web
                site or within any context containing content or materials
                that may be interpreted as libelous, obscene or criminal, or
                which infringes, otherwise violates, or advocates the
                infringement or other violation of, any third party rights.
            </p>
            <p class="sub-heading">Additional terms</p>
            <p class="content">
                Certain Services on the Website may have additional terms (such
                as policies, guidelines, and rules) that will further
                govern your use of that particular Service and supplement this
                Agreement. If you choose to register for or access any
                such service, you will be presented with any relevant additional
                terms and conditions at that time. By using those
                Services, you agree to comply with such additional guidelines
                and rules, which shall be deemed to have been incorporated
                as terms of this Agreement.
            </p>
            <p class="sub-heading">Changes</p>
            <p class="content">
                We reserve the right, at our sole discretion, to modify or
                replace these Terms at any time without giving you prior
                notice. Your use of the Website following any such modification
                constitutes your acceptance to follow and be bound by
                these Terms as modified. The last date these Terms were revised
                is set forth above.
            </p>
            <p class="sub-heading">Changes to the services</p>
            <p class="content">
                We may from time to time add a new service to the Services,
                substitute a new service for one of the existing Services,
                or discontinue or suspend one of the existing Services.
                Information about the new services will be included on the
                Website, and the users of new services will be governed by this
                Agreement. You agree that the Company will not be liable
                to you or any third party for Any suspension or discontinuation
                of any of the Services.
            </p>
            <p class="sub-heading">Disclaimer; limitations of liability</p>
            <p class="content">
                To the maximum extent permitted by applicable law, Company
                disclaims any and all representations, warranties and
                conditions relating to Website and the use of Website
                (including, without limitation, any warranties implied by law in
                respect of satisfactory quality, fitness for purpose and/or the
                use of reasonable care and skill).
                <br class="line-break" />
                To the extent that the Website and Content are provided free of
                charge, Company will not be liable for any loss or
                damage of any nature.
                <br class="line-break" />
                COMPANY MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY,
                RELIABILITY, AVAILABILITY, TIMELINESS, SECURITY OR ACCURACY OF
                THE
                WEBSITE OR THE CONTENT FOR ANY PURPOSE. THE WEBSITE AND ITS
                CONTENT ARE DELIVERED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS.
                THE
                CONTENT MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS OR
                OTHER ERRORS OR INACCURACIES AND MAY NOT BE COMPLETE OR
                CURRENT.
                <br class="line-break" />
                IN NO EVENT SHALL COMPANY AND/OR ITS AFFILIATES BE LIABLE OR
                RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL,
                SPECIAL OR EXEMPLARY DAMAGES OF ANY KIND, INCLUDING WITHOUT
                LIMITATION, LOST PROFITS OR LOST OPPORTUNITIES, EVEN IF ADVISED
                OF
                THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE AND REGARDLESS OF THE
                CAUSE OF ACTION UPON WHICH ANY SUCH CLAIM IS BASED, INCLUDING
                BUT
                NOT LIMITED TO, ANY DAMAGES, LIABILITY OR INJURIES CAUSED BY ANY
                FAILURE OF USE, PERFORMANCE, ERROR, OMISSION, INTERRUPTION,
                DELETION, DEFECT, DELAY IN OPERATION OF THE SOFTWARE OR
                TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT
                OR DESTRUCTION OF OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR
                USE, WHETHER FOR BREACH OF CONTRACT, TORT, NEGLIGENCE OR ANY
                OTHER CAUSE OF ACTION.
                <br class="line-break" />
                YOUR SOLE REMEDY AGAINST COMPANY FOR DISSATISFACTION WITH THE
                WEBSITE OR ANY CONTENT IS TO STOP USING THE WEBSITE OR ANY SUCH
                CONTENT.
                <br class="line-break" />
                The limitations of liability in this section do not apply to
                breaches of intellectual property provisions by you or your
                indemnification obligations relating hereunder.
            </p>
            <p class="sub-heading">Indemnification</p>
            <p class="content">
                You understand and agree that you are personally responsible
                for your behavior on the
                Website. You agree to indemnify, defend and hold harmless
                Company, its affiliated
                companies, employees, agents, and any third-party information
                providers from and against all
                claims, losses, expenses, damages and costs (including, but not
                limited to, direct, incidental,
                consequential, exemplary and indirect damages), and reasonable
                attorneys' fees, resulting
                from or arising out of your use, misuse, or inability to use the
                Website or the Content, or any
                violation by you of these Terms. You will not, in any event,
                settle any claim or matter
                without the written consent of the Company.
            </p>
            <p class="sub-heading">Applicable law, jurisdiction of courts and
                dispute resolution</p>
            <p class="content">
                This Agreement shall be governed by and be interpreted in
                accordance with the laws of India and US federal laws. You
                hereby consent to the exclusive jurisdiction and venue of courts
                in the competent courts of Pune for all disputes
                arising in India, and courts of Maryland for all disputes
                arising in the United States of America shall have
                jurisdiction to adjudicate and grant urgent interim reliefs to
                the parties.
                <br class="line-break" />
                The parties shall have the right to apply to a court of
                competent jurisdiction to obtain interim injunctive relief in
                respect of any dispute, pending resolution of such dispute in
                accordance with this Agreement.
            </p>
            <p class="sub-heading">Global availability</p>
            <p class="content">
                The Company makes no representations that the information on the
                Website is appropriate or available for use in other
                locations, and access to them from territories where their
                content is illegal or prohibited. Those who choose to access
                the Website from other locations do son on their own initiative
                and are responsible for compliance with applicable local
                laws.
            </p>
            <p class="sub-heading">Miscellaneous</p>
            <p class="content">
                The Company shall have the right to place advertisements and
                publicity materials of its choice, including that
                pertaining to parties other than itself for commercial use
                through electronic means on the Application.
                <br class="line-break" />
                These Terms constitute the entire agreement between the parties
                with respect to the subject matter hereof. A Company’s
                failure to insist upon or enforce strict performance of any term
                or provision of these Terms shall not be construed as a
                waiver of any term, provision or right.
                <br class="line-break" />
                The Company shall not be liable for any downtime or delay or
                unavailability of the Application caused by circumstances
                beyond the Company’s reasonable control, including without
                limitation, acts of God, acts of government, floods, fires,
                earthquakes, civil unrest, acts of terror, pandemic, strikes or
                other labour problems, internet service provider
                failures or delays, or denial of service attacks.
                <br class="line-break" />
                If any part of these Terms is determined in arbitration or by a
                court of competent jurisdiction to be invalid or
                unenforceable, that part shall be limited or eliminated to the
                minimum extent necessary so that the remainder of these
                Terms is fully enforceable and legally binding.
                <br class="line-break" />
                The rights and obligations stipulated in these Terms will be
                governed and controlled by the laws of the State of
                Maharashtra if arising in India and the State of Maryland if
                arising the United States of America without reference to
                the applicable choice of law provisions. You agree to the sole
                and exclusive jurisdiction and venue of the arbitration
                to occur in the State of Maharashtra if arising in India and the
                State of Maryland if arising the United States of
                America in the event of any dispute of any kind arising from or
                relating to these Terms, Privacy Policy, your use of the
                Website or the Content.
                <br class="line-break" />
                You are responsible for complying with the laws of the
                jurisdiction from which you are accessing Website and you agree
                that you will not access or use the information on Website in
                violation of such laws.
            </p>
            <p class="sub-heading">Notices</p>
            <p class="content">
                The Company may deliver notice to you under this Agreement by
                means of electronic mail, a
                general notice on the Company's Website, or by written
                communication delivered by first
                class U.S. mail to your address on record in the Company's
                account information. You may
                give notice to the Company at any time via electronic mail
                to
                <i class="email">legal@scalereal.com</i>
                or by letter
                delivered by postage prepaid U.S. mail or overnight courier to
                the following address:
                <br class="line-break" />
               B1 - 504, Montvert Pristine, Behind St. Thomas Church, Aundh Road, Pune - 411020, MH, India.
            </p>
            <p class="sub-heading">Contact us</p>
            <p class="content">
                If you have any questions about these Terms, please contact us
                by email
                <span class="email">info@scalereal.com</span>.
                <br />
                <i>Copyright 2023 scalereal Inc. All rights reserved</i>
            </p>
        </div>
        {{ partial "footer" . }}
    </body>
    {{ partial "js" . }}
</html>