<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <script src="https://cdn.jsdelivr.net/npm/vivus@0.4.6/dist/vivus.min.js"></script>
  {{ partial "head" . }}

  <head>
    <link
      rel="stylesheet"
      href="https://anijs.github.io/lib/anicollection/anicollection.css"
    />
  </head>

  <body>
    <div class="page-home">
      {{ partial "nav" . }} {{ partial "hero" . }}
      {{ template "homepage/our-solutions.html" .}}
      {{ template "homepage/our-services.html" .}}
      {{ template "homepage/clients-section.html" .}}
      {{ template "homepage/client-success-stories.html" .}}
      {{ template "homepage/clients-testimonial.html" .}}
      {{ template "homepage/who-we-are.html" .}}
      {{ template "homepage/blogs-section.html" .}}
      {{ template "homepage/why-scalereal.html" .}}
      {{ template "homepage/global-footprint.html" .}}
      {{ partial "footer" . }}
    </div>
    
    <script src="https://anijs.github.io/lib/anijs/anijs.js"></script>
    <script src="https://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal.js"></script>
    <script type="text/javascript">
      new Vivus("web-dev-svg", { type: "sync", duration: 200 });
      new Vivus("mob-dev-svg", { type: "sync", duration: 200 });
      new Vivus("devops-svg", { type: "sync", duration: 200 });
      new Vivus("consult-svg", { type: "sync", duration: 250 });

      const blogElement = document.querySelector(".blog-stats");
      const counters = document.querySelectorAll(".stat-value");
      const speed = 200;
      let startAnimation = false;

      function numberAnimation() {
        counters.forEach((counter) => {
          const animate = () => {
            const value = +counter.getAttribute("limit");
            const data = +counter.innerText;
            const timeout = value === 40 ? 30 : value === 100 ? 10 : 7;

            const time = value / speed;
            if (data < value) {
              counter.innerText = Math.ceil(data + time);
              setTimeout(animate, timeout);
            } else {
              counter.innerText = value;
            }
          };
          animate();
        });
      }

      function isScrolledIntoView(el) {
        const rect = el.getBoundingClientRect();
        const elemTop = rect.top;
        const elemBottom = rect.bottom;
        const isVisible =
          elemTop >= 0 && elemBottom - rect.height <= window.innerHeight;
        if (isVisible && !startAnimation) {
          numberAnimation();
          startAnimation = true;
        } else if (!isVisible) {
          startAnimation = false;
          counters.forEach((counter) => {
            counter.innerText = 0;
          });
        }
      }
      document.addEventListener("scroll", () => {
        isScrolledIntoView(blogElement);
      });
    </script>
  </body>
  {{ partial "js" . }}
</html>
