<section class="bg-gradient">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <span class="section-chip-light">AI Solutions</span>
          <h2 class="section-title">
            AI Solutions Across <span class="text-blue">Industries</span>
          </h2>
          <p class="section-subtitle section-info">
            We bring domain expertise to deliver AI solutions tailored for your
            industry's unique challenges.
          </p>
        </header>
      </div>
    </div>

    <!-- Experties -->
    <div class="justify-content-center experties">
      <div class="experties-card">
        <div class="experties-icon">
          <i class="fa-regular fa-file-lines"></i>
        </div>
        <p class="experties-label">Legal & Compliance</p>
      </div>
      <div class="experties-card">
        <div class="experties-icon">
          <i class="fa-solid fa-arrow-trend-up"></i>
        </div>
        <p class="experties-label">Finance & Banking</p>
      </div>
      <div class="experties-card">
        <div class="experties-icon">
          <i class="fa-regular fa-headphones"></i>
        </div>
        <p class="experties-label">Customer Service</p>
      </div>
      <div class="experties-card">
        <div class="experties-icon">
          <i class="fa-solid fa-video"></i>
        </div>
        <p class="experties-label">Media & Entertainment</p>
      </div>
      <div class="experties-card">
        <div class="experties-icon">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <p class="experties-label">Marketing & Sales</p>
      </div>
      <div class="experties-card">
        <div class="experties-icon">
          <i class="fa-solid fa-shield-halved"></i>
        </div>
        <p class="experties-label">Healthcare</p>
      </div>
    </div>
  </div>
</section>
