{{ "<!-- Company -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ $.Scratch.Set "company" true }}

    {{ partial "head" . }}

    <body>
        {{ partial "nav" . }}
        <div class="page-inner page-contact">
            <section class="section-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <header class="heading">
                                <h1 class="f700 text-black">Product in mind?</h1>
                                <p class="text-grey">We help you build desired softwares at a reasonable cost that your
                                    customers would love to use. Let's scale together.</p>
                            </header>
                            <div class="address-detail d-none d-lg-block">
                                <p class="f700 text-grey">Address</p>
                                <p class="text-grey">B1 - 504, Montvert Pristine, Behind St. Thomas Church, Aundh Road,
                                    Pune - 411020, MH, India.</p>
                                <p class="f700 text-grey add-head">Mobile</p>
                                <p class="text-grey">+91 98905 46018 / +91 97673 36996</p>
                                <p class="f700 text-grey add-head">Email</p>
                                <p class="text-grey">info@scalereal.com</p>
                                <div class="social-column ">
                                    <a href="javascript:void(0);" target="_blank" title="LinkedIn"><i
                                            class="flaticon-linkedin"></i></a><a href="javascript:void(0);"
                                        target="_blank" title="Facebook"><i class="flaticon-facebook"></i></a><a
                                        href="javascript:void(0);" target="_blank" title="Twitter"><i
                                            class="flaticon-twitter"></i></a><a href="javascript:void(0);"
                                        target="_blank" title="Instagram"><i class="flaticon-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form">
                                <form action="https://formspree.io/info@scalereal.com" method="POST" id="" novalidate=""
                                    target="_blank">
                                    <div class="form-group">
                                        <label for="email" class="text-grey">Your email address</label>
                                        <input type="email" name="email" class="form-control" id="" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="subject" class="text-grey">Subject</label>
                                        <input type="text" name="subject" class="form-control" id="" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="message" class="text-grey">How can we help?</label>
                                        <textarea name="message" class="form-control" id="" rows="3"
                                            placeholder=""></textarea>
                                    </div>
                                    <input type="submit" value="Send"><i class="flaticon-arrow"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {{ partial "footer" . }}
    </body>

</html>
