<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-merge"></div>
            <span>Join Us</span>
          </div>
          <h2 class="section-title">
            Want to Be Part of <span class="text-blue">This Culture?</span>
          </h2>
          <p class="section-subtitle section-info">
            We're always looking for passionate people who want to build meaningful products.
          </p>
        </header>
      </div>
    </div>

    <!-- Actions -->
    <div class="sr-btn-wrapper">
      <a href="/careers" class="sr-btn primary">Explore Open Positions <i class="icon-arrow-right"></i> </a>
    </div>
  </div>
</section>
