<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head" . }}

  <body>
    {{ partial "nav" . }}
    <div class="page-blog">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section class="section-articles">
              {{ $paginator := .Paginate .Data.Pages }}
              {{ range $paginator.Pages }}
              {{ .Render "content-list" }}
              {{ end }}
            </section>
            {{ partial "pagination" . }}
          </div>
          <div class="col">
            {{ partial "blog-sidebar" . }}
          </div>
        </div>
      </div>
    </div>
  </body>
{{ partial "js" . }}
</html>
