<!-- Primary Meta Tags -->
<!-- title tags -->
<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
<meta name="title" content={{ .Title }} | {{ .Site.Title }}>
<meta name="description" content="{{ .Description }}" />
<meta itemprop="description" content="{{ .Description }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:description" content="{{ .Description }}" />


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:site" content="@Scalereal">
<meta name="twitter:creator" content="@Scalereal">

<!-- link tags -->
<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />


<!-- language tags -->
<meta property="og:locale" content="{{ .Language.Lang }}">
<meta name="language" content="{{ .Language.LanguageName }}">
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

<!-- image tags -->
{{ with .Params.image }}
<meta itemprop="image" content="{{ .  | absLangURL }}" />
<meta property="og:image" content="{{ . | absURL}}" />
<meta name="twitter:image" content="{{ . | absURL }}" />
<meta name="twitter:image:src" content="{{ . | absURL }}" />
{{ else }}
<meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="512">
<meta property="og:image:height" content="512">

<meta property="twitter:image:type" content="image/png">
<meta property="twitter:image:width" content="512">
<meta property="twitter:image:height" content="512">

<!-- date tags -->
<meta property="og:updated_time" content={{ .Lastmod.Format "2020-05-01T15:04:05Z0700" | safeHTML }} />
<!-- Sitemap & RSS Feed Tags -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />

{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}
<!-- favicons -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="images/png" sizes="32x32" href="{{ "/images/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon-16x16.png"| absURL }}">
<link rel="icon" href="{{ "favicon.ico" | absURL }}">
<link rel="manifest" href="{{ "/images/site.webmanifest" | absURL }}">


<!-- crawler -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />


<!-- others -->
<!-- Manifest File -->
<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />

<!-- Theme Color -->
<meta name="theme-color" content="#0eccd8" />
<meta name="msapplication-TileColor" content="#0eccd8" />

<meta name="keywords" content="{{ .Keywords }} | {{ .Site.Params.Keywords }}" />
<meta name="imagemode" content="force" />
<meta name="coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<meta name="HandheldFriendly" content="True" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" />
