<section class="section-sidebar">
  <div class="sidebar-wrap">
    <div class="sidebar-element bg-grey">
      <a class="text-grey f14 f600" href="/app">See all Apps</a>
    </div>
    <div class="sidebar-categories sidebar-element bg-grey">
    </div>
    <div class="sidebar-subscribe sidebar-element bg-grey">
      <p class="f14 f600 text-grey title">Subscribe to our newsletter</p>
      <form action="https://formspree.io/info@scalereal.com" id="" method="POST" novalidate="">
        <div class="form-group">
          <input class="form-control f14" id="" name="email" placeholder="Your email address" type="email">
        </div>
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </div>
</section>
