<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    {{ partial "seo-schema" . }}
    <title>ScaleReal</title>

    {{ "<!-- Stylesheets -->" | safeHTML }}
    <link href="{{ "css/bootstrap.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/owl.carousel.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/blog.css" | absURL }}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | absURL }}" sizes="180x180">
    <link rel="icon" href="{{ "images/favicon-32x32.png"| absURL }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ "images/favicon-16x16.png"| absURL }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ "favicon.ico"| absURL }}">


    <!-- Fonts -->
    {{ partial "google-fonts" . }}
</head>
