{{ "<!-- Hero -->" | safeHTML }}

<body>
    <div class="banner-home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <header class="banner-content">
                        <h1 class="f700 text-white">We build applications that scale beyond reality</h1>
                        <p class="typewrite text-white f18" data-period="4000"
                            data-type='[ "A product and service based company with an energetic team of passionate, self-driven individuals building Mobile and Web applications.", "Innovation is at the core of everything we do. Its how we solve complex problems and stay at the forefront of technology.", "We celebrate what makes each of us unique and foster an inclusive workplace where everyone feels valued, respected, and empowered.", "Integrity is the foundation of our relationships, both within our team and with our clients.", "We uphold the highest ethical standards and transparency in all our interactions." ]'>
                            <span class="wrap"></span>
                        </p>
                        <a class="btn-arrow btn-white" href="contact">Let's scale</a>
                    </header>
                </div>
            </div>
        </div>
    </div>



    <script>
        const TxtType = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 4000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function () {
            const i = this.loopNum % this.toRotate.length;
            const fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            const that = this;
            let delta = 150 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            const elements = document.getElementsByClassName('typewrite');
            for (let i = 0; i < elements.length; i++) {
                let toRotate = elements[i].getAttribute('data-type');
                let period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            const css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);
        };
    </script>

</body>