<section id="job-positions" class="section-open-position bg-neutral">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-users"></div>
            <span>Roles</span>
          </div>
          <h2 class="section-title">
            Job <span class="text-blue">Positions</span>
          </h2>
          <p class="section-subtitle section-info">
            Don't see a role that fits? Send us your resume anyway—we're always looking for exceptional talent.
          </p>
        </header>
      </div>
    </div>

    <ul id="accordion" class="careers-accordion">
      {{ $data:= getJSON "/content/careers/jobs.json" }}
      {{range $data}}
      <li class="mb-3">
        <div class="card">
          <div class="card-header" id="heading-{{ .target }}">
            <div class="scollapsed d-flex justify-content-between collapsed"
              data-toggle="collapse"
              data-target="#{{ .target }}"
              aria-expanded="false"
              aria-controls="{{ .target }}">

              <div class="card-header-left">
                <div class="card-header-top">
                  <h4 class="{{ if eq .status "Open" }}title-open{{ end }}">{{ .title }}</h4>
                  <span class="badge mb-1 {{ if eq .status "Open" }}badge-active{{ else }}badge-inactive{{ end }}">
                    {{ .status }}
                  </span>
                </div>
                <p class="card-meta mt-1">
                  <span>
                    <i class="icon-map-pin"></i>
                    {{ .location }}
                  </span>
                  <span>
                    <i class="icon-clock"></i>
                    {{ .time }}
                  </span>
                   <span>
                    <i class="icon-briefcase-business"></i>
                    {{ .experience }}
                  </span>
                  
                </p>
              </div>

              <div class="expand line-heigh-2-rem">
                <span class="plus">
                 <i class="icon-chevron-down"></i>
                </span>
              </div>

            </div>
          </div>

          <div id="{{ .target }}" class="collapse" aria-labelledby="heading-{{ .target }}" data-parent="#accordion">
            <div class="card-body bg-grey">
              <strong class="mb-2">What you'll be doing:</strong>
              <ul class="key-list text-grey">
                {{ range .doing }}
                <li class="d-flex">{{ . }}</li>
                {{ end }}
              </ul>

              <strong class="mb-2">What we are looking for:</strong>
              <ul class="key-list text-grey">
                {{ range .lookingFor }}
                <li class="d-flex">{{ . }}</li>
                {{ end }}
              </ul>

              {{if .additionalSkills}}
              <strong class="mb-2">Additional skills to be considered as a plus:</strong>
              <ul class="key-list text-grey">
                {{ range .additionalSkills }}
                <li class="d-flex">{{ . }}</li>
                {{ end }}
              </ul>
              {{end}}

              <strong class="mb-2">Job Perks:</strong>
              <ul class="key-list text-grey">
                {{ range .perks }}
                <li class="d-flex">{{ . }}</li>
                {{ end }}
              </ul>

              <a class="sr-btn primary py-2 mt-4 w-fit" href="{{.applyUrl}}" title="Apply">
                <span>Apply</span>
                <i class="icon-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>