{{ "<!-- jQuery -->" | safeHTML }}
<script crossorigin="anonymous" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ "js/bootstrap.min.js"| absURL }}"></script>
{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ "js/owl.carousel.min.js"| absURL }}"></script>
{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ "js/script.js"| absURL }}"></script>
{{ template "_internal/google_analytics_async.html" . }}
<!-- <script src="https://unpkg.com/dracula-prism@1.2.1/js/prism.js"></script> -->
