<!-- Pagination -->
<ul class="actions pagination">
  {{ if .Paginator.HasPrev }}
  <li>
    <a class="pagination-back-link" href="{{ .Paginator.Prev.URL }}">
      <span class="line">
        <img src="{{ "images/blog/Back.svg" | absURL }}" alt="">
      </span>
      <span class="text">Previous page</span>
    </a>
  </li>
  {{ end }} {{ if .Paginator.HasNext }}
  <li>
    <a class="pagination-next-link" href="{{ .Paginator.Next.URL }}">
      <span class="text">Next page</span>

      <span class="line">
        <i class="flaticon-arrow"></i>
      </span>
    </a>
  </li>
  {{ end }}
</ul>
