<!-- This site is optimized with the Yoast SEO plugin v6.0 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="{{ .Params.potongan | truncate 150 }}" />
<link rel="canonical" href="{{ .Permalink }}" />
<meta property="og:locale" content="en_US" />

{{ range .Params.calon }}
<meta property="article:calon" content="{{ . }}" />{{ end }}
{{ range .Params.partai }}
<meta property="article:partai" content="{{ . }}" />{{ end }}
{{ range .Params.daerah }}

<meta name="google-site-verification" content="{{ .Site.Params.gsv }}" />
<script type="application/ld+json">
    {
        "@context": "http:\/\/schema.org",
        "@type": "Organization",
        "url": "https:\/\/scalereal.com\/",
        "name": "Scalereal",
        "description": "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
        "image": "{{ "images/logo/sr-logo-blue-512X512.png" | absURL }}",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91 98905 46018",
            "contactType": "Mobile"
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
        },
        "logo": "{{ "images/logo/sr-logo-blue-512X512.png"| absURL }}"

    }

</script>
<script type='application/ld+json'>
    {
        "@context": "http:\/\/schema.org",
        "@id": "{{ .Site.BaseURL }}/blogs",
        "@type": "Blog",
        "sameAs": [],
        "name": "{{ .Site.Title }}",
        "author": "Scale real",
        "inLanguage": "en-US",
        "url": "{{ .Permalink }}",
        "wordCount": "{{ .WordCount }}",
        "keywords": [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ],
        "logo": "{{ "images/logo/sr-logo-blue-512X512.png"| absURL }}"
    }

</script>
<!-- / Yoast SEO plugin. -->
