<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-rocket"></div>
            <span>Next Steps</span>
          </div>
          <h2 class="section-title">
            Have a Project in <span class="text-blue">Mind?</span>
          </h2>
          <p class="section-subtitle section-info">
            We help you build desired softwares at a reasonable cost that your customers would love to use. Let's scale together.
          </p>
        </header>
      </div>
    </div>

    <!-- Actions -->
    <div class="sr-btn-wrapper">
      <a href="/contact" class="sr-btn primary">Start Your Project <i class="icon-arrow-right"></i> </a>
    </div>
  </div>
</section>
