<!-- Projects -->

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ $.Scratch.Set "projects" true }}
{{ partial "head.html" . }}

<style>
    .loader {
        width: 48px;
        height: 48px;
        border: 5px dotted #0eccd8;
        border-radius: 50%;
        display: block;
        margin: 8rem auto;
        position: relative;
        box-sizing: border-box;
        animation: rotation 2s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<body>
    {{ partial "nav" . }}
    <div class="page-inner page-projects">
        <section class="section-inner-banner">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <header class="heading content-center">
                            <h1 class="f700 text-black">Handcrafted Projects</h1>
                            <p class="text-grey">Explore some of our high quality, cost effective, reliable and
                                easy-to-use applications that we built for our clients to solve their complex
                                business problems.</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="projects-container"></div>
        <div id="loader" class="loader"></div>

        <section class="section-cta bg-blue">
            <p class="text-white">We'd love to help you scale.
                <a class="btn-white f700" href="/contact">Let's
                    talk</a>
            </p>
        </section>

    </div>
    {{ partial "footer" . }}

    <script>
        const projects = JSON.parse({{ getJSON "/content/projects/data.json" | jsonify }});
        const items = projects.map((project, index) => {
            const isOdd = index % 2;
            const rowClass = isOdd ?  'flex-row':'flex-row-reverse';
            const textAos = isOdd ? 'fade-left' : 'fade-right';
            const imageAos = isOdd ? 'fade-right' : 'fade-left';
            const sectionClass = `${project.main_container_class} ${!isOdd ? 'even-project' : ''}`;
            const textAosAnchor = !project.anchor_on_image && project.data_aos_anchor ? `data-aos-anchor="${project.data_aos_anchor}"` : '';
            const imageAosAnchor = project.anchor_on_image && project.data_aos_anchor ? `data-aos-anchor="${project.data_aos_anchor}"` : '';
            const caseStudyLink = project.case_study_url ? `<a class="btn-arrow btn-black f700" href="${project.case_study_url}">View Case Study</a>` : '';

            return `<section class="${sectionClass}">
            <div class="container">
                <div class="row ${rowClass}">
                    <div class="col-md-6 col-order" data-aos="${imageAos}" ${imageAosAnchor}>
                        <div class="img-wrap">
                            <picture>
                                <source srcset="${project.images[0]}" media="(max-width:592px)">
                                <source srcset="${project.images[1]}" media="(max-width:768px)">
                                <img src="${project.images[2]}" alt="${project.alt}">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center mt-3 mt-md-0" data-aos="${textAos}" ${textAosAnchor}>
                        <h2 class="f700 text-black">${project.title}</h2>
                        <p class="text-grey">${project.description}</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">${project.technologies}</p>
                        </div>
                        ${caseStudyLink}
                    </div>
                </div>
            </div>
            </section>`;
        });

        let currentIndex = 0;
        let totalItems = items.length;
        const loader = document.querySelector('#loader');

        function appendItems(count = 3) {
            const container = document.querySelector('#projects-container');
            const newItems = [];

            for (let i = currentIndex; i < currentIndex + count && i < totalItems; i++) {
                const newItem = document.createElement('div');
                newItem.innerHTML = items[i];
               
                newItems.push(newItem);
            }

            loader.style.display = 'block';
            newItems.forEach(item => container.appendChild(item));

            currentIndex += count;

            if (currentIndex >= totalItems) {
                loader.style.display = 'none';
                return;
            }

            loadMoreObserver.disconnect();

            const lastItem = newItems[newItems.length - 1];
            if (lastItem) {
                setTimeout(() => loadMoreObserver.observe(lastItem), 50);
            }
        }

        const loadMoreObserver = new IntersectionObserver((entries) => {
            const entry = entries[0];
            if (entry.isIntersecting && currentIndex < totalItems) {
                appendItems(3);
            }
        }, {
            rootMargin: '100px',
        });

        appendItems(3);
    </script>

</body>
{{ partial "js" . }}

</html>