{{ "<!-- Projects -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ $.Scratch.Set "projects" true }}
{{ partial "head.html" . }}

<body>
    {{ partial "nav" . }}
    <div class="page-inner page-projects">
        <section class="section-inner-banner">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <header class="heading content-center">
                            <h1 class="f700 text-black">Handcrafted projects</h1>
                            <p class="text-grey">Explore some of our high quality, cost effective, reliable and
                                easy-to-use applications that we built for our clients to solve their complex
                                business problems.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/tenfold-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/tenfold.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/tenfold.webp" | absURL }}" alt="Ten Fold Education Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right" data-aos-anchor=".section-project-detail">
                        <h2 class="f700 text-black">Ten Fold Education</h2>
                        <p class="text-grey">South Africa’s first Mobile based learning application for High
                            School learners. It helps them excel in academics while engaging them in a fun and
                            interactive way.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Python, Django, Postgres , Ansible, Js, Mathjax, Java, Kotlin,
                                Retrofit, Dagger, Swift, Objective C</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/*  benz-container class added to use this section element as an anchor for animation of text */}}
        <section class="section-service-detail section-project-detail benz-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/mercedes-benz-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/mercedes-benz.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/mercedes-benz.webp" | absURL }}" alt="Mercedes Benz Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left" data-aos-anchor=".benz-container" data-aos-offset="250">
                        <h2 class="f700 text-black">Mercedes Benz</h2>
                        <p class="text-grey">Hybrid mobile application which helps dealers to take superior
                            pictures of used cars. It’s an easy to use and intuitive mobile app which allows
                            dealers to standardize the process of taking pictures.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Python, Django, Postgres , Ansible, Js, Unity3D</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/Galactica-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/Galactica.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/Galactica.webp" | absURL }}" alt="Galactica Application Screenshots">
                            </picture>  
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">
                        <h2 class="f700 text-black">Galactica</h2>
                        <p class="text-grey">A platform that offers Cutting-Edge, Powerful AI Algorithms to generate
                            actionable insights From Satellite and UAV Data. The geospatial analytics helps to identify
                            various objects like Plane, Large Vehicles, Military Vehicles, etc, from the Satellite
                            images.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">ReactJS, Redux, SCSS, Flask, Redis, Celery, Netlify, Docker, Webpack,
                                NPM, Yarn</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail dbe-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/DBE-cloud-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/DBE-cloud.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/DBE-cloud.webp" | absURL }}" alt="DBE cloud Application Screenshots">
                            </picture> 
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left" data-aos-anchor=".dbe-container" data-aos-offset="250">
                        <h2 class="f700 text-black">DBE Cloud</h2>
                        <p class="text-grey">Integration of learning videos with CLOX device which helps store
                            all the data without servers for offline video streaming. CLOX can be used with
                            TV’s, Projectors, Mobile Devices and Desktop Computers.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Python, Django, Postgres , Ansible, Js, Flask, HLS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/Medly-Pharmacy-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/Medly-Pharmacy.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/Medly-Pharmacy.webp" | absURL }}" alt="Medly Pharmacy Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">

                        <h2 class="f700 text-black">
                            Medly Pharmacy
                        </h2>
                        <p class="text-grey">With an experience of over 30 years in the US Healthcare Industry, Medly
                            provides SaaS products that cater to the Healthcare domain and also provides a free same-day
                            prescription delivery to their patients. The application uses encrypted internal systems to
                            track orders, drug storage, and delivery in real-time.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Kotlin, ReactJS, Redux, Saga, React Testing Library, Styled Components,
                                NodeJS, Python, Elastic Beanstalk, Aurora Serverless (Postgress), Docker, AWS Lambda,
                                TravisCI, AWS CodeBuild, AWS CodePipeline, Terraform, Cypress, ROR, Swift </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail gbas-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/Gbas-Gbos-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/Gbas-Gbos.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/Gbas-Gbos.webp" | absURL }}" alt="Gbas Gbos Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left" data-aos-anchor=".gbas-container" data-aos-offset="200">
                        <h2 class="f700 text-black">Gbas Gbos</h2>
                        <p class="text-grey">This is a Match 3 Fruit Crush Game that aims to not only entertain but also
                            educate people around the world about the beauties of the fruit types found only in African
                            countries. The rich terrains, landmarks, and people of Africa are richly established in the
                            game-play and GUI of this game app. Invite and challenge your friends in a private game room
                            and the winner takes it all. </p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Unity3d Game Engine, CakePHP, Terraform, AWS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/GeoSpoc-GeoCoder-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/GeoSpoc-GeoCoder.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/GeoSpoc-GeoCoder.webp" | absURL }}" alt="GeoSpoc-GeoCoder Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">
                        <h2 class="f700 text-black">GeoSpoc - GeoCoder</h2>
                        <p class="text-grey">A highly performant offline geocoding engine to transform messy addresses
                            into sub-components like street names, locality names, pin codes etc. for hierarchical
                            component matching and finding the Latitude - Longitude using GeoSpoc's extensively verified
                            home-brewed database. This geocoding engine can process 20 million records per hour using
                            batch mode and has submillisecond latency for REST APIs.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Golang, MemDB, License Manager, Customized Algorithms, Docker, JMeter
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/Mindset-TV-App-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/Mindset-TV-App.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/Mindset-TV-App.webp" | absURL }}" alt="Hisense - Mindset TV App Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left">
                        <h2 class="f700 text-black">Hisense - Mindset TV App</h2>
                        <p class="text-grey">A built-in learning application for Hisense TV which offers students of
                            various grades to access 1000+ courses across 10+ areas/fields. The app has an exclusive
                            list of educational activities and material that is designed by experts according to the
                            various stages and levels of your child’s development. </p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey"> Python, Django, Postgres, ReactJS, AWS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/Dealsafe-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/Dealsafe.webp" | absURL }}" media="(max-width:768px)">
                                <img class="large" src="{{ "images/projects/Dealsafe.webp" | absURL }}" alt="Dealsafe Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">

                        <h2 class="f700 text-black">Dealsafe</h2>
                        <p class="text-grey">India's first platform to build trust between transacting entities for a service. 
                            An application that would facilitate trade and commerce between buyers and sellers by providing a safe platform 
                            for their secure and guaranteed payment transactions for the promised goods and services.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Python, Django, REST and GraphQL API, ReactJS, AWS, Postgres, Docker, Flutter</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-service-detail section-project-detail temp-taker-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right" data-aos-anchor=".temp-taker-container" data-aos-offset="100">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/TempTaker-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/TempTaker.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/TempTaker.webp" | absURL }}" alt="TempTaker Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left" data-aos-anchor=".temp-taker-container" data-aos-offset="100">
                        <h2 class="f700 text-black">TempTaker</h2>
                        <p class="text-grey">Kiosk TempTaker is a non-contact temperature screening device that can be
                            used in malls, schools, offices, etc. People can simply approach the device for a quick
                            temperature reading and your estimated body temperature will be reported within two seconds.
                            If an elevated temperature is detected then the Authorized person would be notified via text
                            and email. Notifications contain images of a person with elevated temperature, location,
                            date, and time. </p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Python, Django, Postgres, ReactJS, Docker</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/mindset-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/mindset.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/mindset.webp" | absURL }}" alt="Mindset Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">

                        <h2 class="f700 text-black">Mindset</h2>
                        <p class="text-grey">An online learning application for tracking, reporting, and
                            delivery of educational courses along with a CMS panel for admin to create and
                            integrate course materials, align content and assessments, articulate learning goals
                            and track studying progress.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Python, Django, Postgres , Ansible, Js, Flask, HLS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/smart-quest-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/smart-quest.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/smart-quest.webp" | absURL }}" alt="Smart Quest Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left">
                        <h2 class="f700 text-black">Smart Quest</h2>
                        <p class="text-grey">SmartQuest reinforces training / learning with the help of
                            micro-content like Quizzes, Reference Lists, Lessons, News Feed. It helps in staying
                            up-to-date with the latest news & events in your company and sector. SmartQuest also
                            facilitates First Line Managers to regularly rate their Sales reps on selling
                            parameters on a consistent framework using Manager Feedback.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">Vue.js, JavaScript, Webpack, Material Design, MongoDB, Ruby on
                                Rails</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/SustainOnline-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/SustainOnline.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/SustainOnline.webp" | absURL }}" alt="SustainOnline Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">

                        <h2 class="f700 text-black">SustainOnline</h2>
                        <p class="text-grey">An application having curated content for a smooth learning journey through
                            hundreds of courses based on 30 years of experience and scientific research. This SaaS
                            platform with SSO was migrated from Baremetal Servers to AWS cloud and also integrated with
                            OpenEdx LMS.</p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">RoR, Ruby, ReactJS, AWS, OpenEdx, MongoDB</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-right">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/HelpfulCrowd-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/HelpfulCrowd.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/HelpfulCrowd.webp" | absURL }}" alt="HelpfulCrowd Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-left">
                        <h2 class="f700 text-black">HelpfulCrowd</h2>
                        <p class="text-grey">Heroku to AWS migration of a product review application that collects a ton
                            of product reviews to leverage SEO and boost sales. Setting up CI/CD pipeline using CircleCI
                            and autoscaling infrastructure to optimize the monthly AWS bills. </p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">ROR, Postgress, Sidekiq, Elastic Beanstalk, S3, Elastic Cache (Redis),
                                AWS SNS, Aurora Serverless (Postgress)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail section-project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-order" data-aos="fade-left">
                        <div class="img-wrap">
                            <picture>
                                <source srcset="{{ "images/projects/MyVaccine-small.webp" | absURL }}" media="(max-width:592px)">
                                <source srcset="{{ "images/projects/MyVaccine.webp" | absURL }}" media="(max-width:768px)">
                                <img src="{{ "images/projects/MyVaccine.webp" | absURL }}" alt="MyVaccine Application Screenshots">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 col-order align-self-center" data-aos="fade-right">

                        <h2 class="f700 text-black">MyVaccine</h2>
                        <p class="text-grey">A mobile-based offline application that creates a Digital pass for the vaccination 
                            record that can be used at various public places to grant access to its users. It not only scans user's 
                            vaccination information but also provides a platform for them to record their side effects and sends 
                            them reminders when their second vaccination is due. Along with these wide ranges of particularly 
                            prominent and peculiar principal features, MyVaccine also stores the user's Vaccination information 
                            securely on the user's phone.
                        </p>
                        <div class="project-tech">
                            <p class="f700 text-grey">Technologies</p>
                            <p class="text-grey">React Native</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-cta bg-blue">
            <p class="text-white">We'd love to help you scale.
                <a class="btn-white f700" href="/contact">Let's
                    talk</a>
            </p>
        </section>

    </div>
    {{ partial "footer" . }}

</body>
{{ partial "js" . }}

</html>