<ul class="article-category clearfix">
    {{ if isset .Params "categories" }}
        {{ $categoryCount := (len .Params.categories) }}

        {{ if ge $categoryCount 1 }}
            <li class="article-category-item">
                {{ if gt $categoryCount 1 }}
                    Categories
                {{ else }}
                    Category
                {{ end }}
            </li>
        {{ end }}

        <!-- Display the categories associated with this post -->
        {{ range .Params.categories }}
            <li class="article-category-item">
                <a class="text-grey" href="javascript:void(0);">{{ . }}</a>
            </li>
        {{ end }}
    {{ end }}
</ul>

<header class="heading">
    <a href="{{ .Permalink }}">
        <h2 class="f700 text-black">{{ .Title }}</h2>
    </a>
    <p class="article-category text-grey">By
        <a class="text-grey" href="javascript:void(0);">{{ .Params.author }}</a>
        <span class="d-inline-block">
            <time datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                ,
                {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}
            </time>
        </span>
    </p>

    <p class="text-grey">
        {{ with .Description }}
            {{ . }}
        {{ end }}
    </p>
    {{ if .Params.excerpt }}
        <p class="text-grey">{{ printf "%s" .Params.excerpt | markdownify }}</p>
    {{ end }}
</header>
