.page-blog-list .heading,
.page-blog-details .heading {
  margin: 0;
  padding: 30px 0;
}
.page-blog-list .heading h1,
.page-blog-details .heading h1 {
  margin: 0;
}
.page-blog-list .popular-reads,
.page-blog-details .popular-reads {
  font-size: 18px;
  letter-spacing: 0.02px;
  margin-bottom: 40px;
  font-weight: bold;
}
.page-blog-list section,
.page-blog-details section {
  padding: 0;
  margin-bottom: 30px;
}
.page-blog-list li,
.page-blog-details li {
  list-style-type: none;
}
.page-blog-list img,
.page-blog-details img {
  max-width: 100%;
  display: block;
}
.page-blog-list .social-column li,
.page-blog-details .social-column li {
  margin-top: 14px;
}

.popular-reads-section h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.popular-reads-section .sub-text {
  margin-bottom: 60px;
}

.popular-list-section h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.popular-list-section .img-bg {
  margin-bottom: 10px;
}
.popular-list-section .sub-text {
  margin-bottom: 50px;
}

.all-list-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
  max-height: 100px;
  overflow: hidden;
}
.all-list-section .img-bg {
  margin-bottom: 10px;
}
.all-list-section .sub-text {
  margin-bottom: 20px;
}

.writer-wrap .writer-img {
  width: 50px;
  height: 50px;
  background-color: #d8d8d8;
  border-radius: 100%;
}
.writer-wrap .writer-name {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.17px;
  color: #1c1c1c;
}
.writer-wrap .time {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.16px;
  color: #737272;
}

.blog-carousel.owl-carousel li {
  padding: 0 15px;
}
.blog-carousel.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  overflow: hidden;
  color: #13ccd8;
  font-size: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 100%;
  display: block;
}
.blog-carousel.owl-carousel .owl-nav button span {
  display: block;
  margin-top: -16px;
}
.blog-carousel.owl-carousel .owl-nav .owl-prev {
  left: -15px;
}
.blog-carousel.owl-carousel .owl-nav .owl-next {
  right: -15px;
}

.saprator {
  border: 0.5px solid #cccbcb;
}

.img-bg {
  padding-top: 60%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccbcb;
}

.share-wrap {
  padding-top: 150px;
  text-align: center;
}
.share-wrap .share-on {
  font-size: 12px;
  letter-spacing: 0.14px;
  color: #4e4e4e;
}

@media only screen and (max-width: 766px) {
  .share-wrap {
    padding: 0;
    margin: 20px;
  }

  .share-wrap li {
    display: inline-block;
    margin: 10px;
  }
}

.back-link-section {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  text-align: end;
}

.back-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #222222;
}
.back-link:hover {
  color: #222222;
  opacity: 0.6;
}
.back-link .line {
  display: inline-block;
  vertical-align: middle;
}
.back-link .text {
  text-decoration: underline;
}

.page-blog-details .writer-wrap {
  margin-bottom: 40px;
}
.page-blog-details .heading {
  box-shadow: 0 2px 8px 0 rgba(167, 166, 166, 0.5);
  margin-bottom: 40px;
}
.page-blog-details .img-source {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.16px;
  color: #7d7d7d;
  text-align: center;
}
.page-blog-details .img-bg {
  margin-bottom: 10px;
}
.page-blog-details .banner-section {
  margin-bottom: 2rem;
}

.all-stories-wrap {
  background: #f2f2f2;
  padding: 10px;
  display: none;
}

.category-list {
  margin: 0 -15px;
  flex-wrap: wrap;
}
.category-list li {
  padding: 10px;
}
.category-list .text {
  border-radius: 35px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 10px 40px;
  font-size: 18px;
  letter-spacing: -0.04px;
  color: #313131;
}

.section-why-work i {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

.section-open-position .position-list li {
  padding: 0 15px;
  margin-bottom: 30px;
}
.section-open-position .position-btn {
  font-size: 18px;
  letter-spacing: -0.04px;
  color: #13ccd8;
  border-radius: 35px;
  line-height: 50px;
  border: solid 1px #13ccd8;
  width: 180px;
  display: block;
  text-align: center;
}
.section-open-position .position-btn.active {
  background-color: #13ccd8;
  color: white;
}
.section-open-position .position-name {
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #151515;
}
.section-open-position .position-number {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.16px;
  color: #868686;
  margin-left: 15px;
}
.section-open-position .card-header {
  border-bottom: none;
}
.section-open-position .card-header h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.54;
  letter-spacing: 0.27px;
  color: #4d4d4d;
}
.section-open-position .card-header p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.85;
  letter-spacing: 0.23px;
  color: #979696;
}
.section-open-position .card-header .plus,
.section-open-position .card-header .minus {
  color: #13ccd8;
  font-weight: bold;
  font-size: 30px;
}
.section-open-position .card-header .plus {
  display: none;
}
.section-open-position .card-header .collapsed .minus {
  display: none;
}
.section-open-position .card-header .collapsed .plus {
  display: block;
}
.section-open-position .card-body strong {
  display: block;
}
.section-open-position .send-resume {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: 0.27px;
  color: #1e1e1e;
  display: inline-block;
  margin-top: 24px;
}
.section-open-position .send-resume span {
  border-bottom: 1px solid #1e1e1e;
}

/*# sourceMappingURL=new-pages.css.map */
