<div class="banner-home">
  <div class="grid-overlay"></div>
  <div class="glow glow-primary"></div>
  <div class="glow glow-accent"></div>
  <header class="banner-content text-center">
    <div class="section-chip-light"><i class="fa-regular fa-user mr-1"></i>Careers</div>

    <!-- Title -->
    <h1 class="hero-title text-black">
   Craft <span class="text-blue">Your Next Chapter</span> 
    </h1>

    <p class="hero-subtitle text-grey">
      From ideation, to how we plan, to the way we work each day, everyone has ownership and equal opportunity to make an impact.
    </p>

    <!-- CTA buttons -->
    <div class="sr-btn-wrapper">
      <a href="/contact#contact-form" class="sr-btn primary"> Start Your Project → </a>
      <a href="/services" class="sr-btn secondary"> Explore Services </a>
    </div>
  </header>
</div>
