<div class="banner-home">
  <div class="grid-overlay"></div>
  <div class="glow glow-primary"></div>
  <div class="glow glow-accent"></div>
  <header class="banner-content text-center">
    <div class="section-chip-light">
      <div class="icon-briefcase"></div>
      <span>Careers</span>
    </div>

    <!-- Title -->
    <h1 class="hero-title text-black">
      Craft <span class="text-blue">Your Next Chapter</span> <br /> With Us
    </h1>

    <p class="hero-subtitle text-grey">
      From ideation, to how we plan, to the way we work each day, everyone has
      ownership and equal opportunity to make an impact.
    </p>

    <!-- CTA buttons -->
    <div class="sr-btn-wrapper">
      <a href="/ai-services" class="sr-btn primary">Explore AI Services <i class="icon-arrow-right"></i></a>
      <a href="/projects" class="sr-btn secondary">
        Explore Projects
      </a>
    </div>
  </header>
</div>
