{{ "<!-- Projects -->" | safeHTML }}

<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ $.Scratch.Set "projects" true }} {{ partial "head.html" . }}

  <head>
    <link
      rel="stylesheet"
      href="https://anijs.github.io/lib/anicollection/anicollection.css"
    />
  </head>

  <body>
    {{ partial "nav" . }}
    <div class="page-inner page-projects">
      {{ template "careers/banner.html" . }} 
      {{ template "homepage/why-scalereal.html" .}} 
      {{ template "careers/team-reviews.html" .}}
      {{partial "jobs_positions" .}}
       {{partial "newsletter.html" .}}
    </div>
    {{ partial "footer" . }}

    <script src="https://anijs.github.io/lib/anijs/anijs.js"></script>
    <script src="https://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal.js"></script>
  </body>
  {{ partial "js" . }}
</html>
