<section id="benefits" class="bg-neutral">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-zap"></div>
            <span>Why ScaleReal</span>
          </div>
          <h2 class="section-title">
            Why You'll <span class="text-blue">Love It Here</span>
          </h2>
          <p class="section-subtitle section-info">
            Experience a culture where your well-being matters as much as your
            work. Great perks, better people, and a place to truly belong.
          </p>
        </header>
      </div>
    </div>

    <div class="row justify-content-center feature-card-carousal js-feature-card-carousal">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card text-black">
          <div class="feature-icon">
            <i class="icon-chart-no-axes-combined"></i>
          </div>
          <h3>Learning & Growth</h3>
          <p>
            Intellectual curiosity and continuous learning are highly valued.
            Attend talks, conferences, career events that interest you, and keep
            your skills sharp.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-clock-check"></i>
          </div>
          <h3>Flexible Work Life</h3>
          <p>
            We trust you to know your schedule and work when you feel most
            productive. There are times when you should just shut down your
            laptop and enjoy the moment.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-trending-up"></i>
          </div>
          <h3>Tech Perks</h3>
          <p>
            Work on the latest technologies, contribute to open source projects
            and build things that haven’t been built before, so we can push the
            edge of what’s possible.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-heart-pulse"></i>
          </div>
          <h3>Healthcare Benefits</h3>
          <p>
            Live Doctor Chat & Consultations, 24X7 Claims Support, Discounts on
            Lab Tests, Health Insurance e-card and much more. Accidental Cover
            worth 10 Lakhs per employee.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-id-card-lanyard"></i>
          </div>
          <h3>Multi-Benefit Sodexo Card</h3>
          <p>
            100% paperless management of spends and claims. No need to carry
            multiple cards. You can avail all the benefits like meal, fuel and
            telecommunication on just one card.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-globe"></i>
          </div>
          <h3>100% Remote Working</h3>
          <p>
            No daily commute to the office, more time with your loved ones,
            fewer distractions. Work from where you want and focus on what
            really matters—PERFORMANCE.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
