<section id="benefits" class="bg-neutral">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-coffee"></div>
            <span>Perks & Benefites</span>
          </div>
          <h2 class="section-title">
            Why You'll <span class="text-blue">Love It Here</span>
          </h2>
          <p class="section-subtitle section-info">
            Experience a culture where your well-being matters as much as your
            work. Great perks, better people, and a place to truly belong.
          </p>
        </header>
      </div>
    </div>

    <div
      class="row justify-content-center feature-card-carousal js-feature-card-carousal"
    >
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card text-black">
          <div class="feature-icon">
            <i class="icon-chart-no-axes-combined"></i>
          </div>
          <h3>Learning & Growth</h3>
          <p>
            Intellectual curiosity drives us. Attend talks, conferences, and
            learning events to keep growing and sharpening your skills.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-clock-check"></i>
          </div>
          <h3>Flexible Work Life</h3>
          <p>
            Work when you’re most productive. We value balance and encourage you
            to unplug when it’s time to recharge.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-trending-up"></i>
          </div>
          <h3>Tech Perks</h3>
          <p>
            Work with modern technologies, contribute to open source, and build
            products that push the boundaries of innovation.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-heart-pulse"></i>
          </div>
          <h3>Healthcare Benefits</h3>
          <p>
            Comprehensive health support including doctor consultations,
            insurance & accident coverage, claims, and diagnostic discounts.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-id-card-lanyard"></i>
          </div>
          <h3>Learning Budget</h3>
          <p>
            An annual allowance for courses, conferences, and certifications to
            help you grow and stay ahead in your field.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="icon-globe"></i>
          </div>
          <h3>100% Remote Working</h3>
          <p>
            Skip the commute and work from anywhere. Focus on meaningful work
            while enjoying greater flexibility and balance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
