<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-rocket"></div>
            <span>Take Action</span>
          </div>
          <h2 class="section-title">
            Ready to <span class="text-blue">Get Started?</span>
          </h2>
          <p class="section-subtitle section-info">
            We can help you with Estimation, Prototype, Minimum Viable Product,
            Complete Solution for new and existing products.
          </p>
        </header>
      </div>
    </div>

    <!-- Actions -->
    <div class="sr-btn-wrapper">
      <a href="/contact" class="sr-btn primary">
        Schedule Consultation <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
