{{ "<!-- Job Application -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head" . }}

  <body>
    {{ partial "nav" . }}
    <div>
      <iframe
        id="jobApplicationForm"
        src=""
        title="description"
        style="height: calc(100vh - 96px); width: 100%"
        frameborder="0"
      ></iframe>
    </div>
  </body>
  {{ partial "js" . }}
  <script>
    $(document).ready(function () {
      const urlParams = new URLSearchParams(window.location.search);
      const param = urlParams.get("profile");
      const $iframe = $("#jobApplicationForm");
      const profile = param === null ? "" : param;

      if ($iframe.length) {
        const url =
          "https://notionpack.netlify.app/form-preview/1638368636094/MCin2FKUOaOEmoPvON3IaVZVaf1aMf?profile=" +
          profile;
        $iframe.attr("src", url);
      }
    });
  </script>
</html>
