{{ "<!-- Job Application -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head" . }}

  <body>
    {{ partial "nav" . }}
    <div>
      <iframe
        id="jobApplicationForm"
        src=""
        title="description"
        style="height: calc(100vh - 96px); width: 100%"
        frameborder="0"
      ></iframe>
    </div>
  </body>
  {{ partial "js" . }}
  <script>
    $(document).ready(function () {
      const urlParams = new URLSearchParams(window.location.search);
      const profile = urlParams.get("profile");
      const ref = urlParams.get("ref");
      const refCode = ref === null ? "" : ref;
      const $iframe = $("#jobApplicationForm");

      if ($iframe.length) {
        const url =
          profile === null
            ? "https://notionpack.netlify.app/form-preview/1638538034470/rDflavTXsljKEcEQsUs4Sz61L7acX9?ref=" +
              refCode
            : "https://notionpack.netlify.app/form-preview/1638521537444/rDflavTXsljKEcEQsUs4Sz61L7acX9?profile=" +
              profile +
              "&ref=" +
              refCode;
        $iframe.attr("src", url);
      }
    });
  </script>
</html>
