<header class="heading">
  <!-- {{ .Render "feature-img" }} -->
  <a href="{{ .Permalink }}">
    <h2 class="f700 text-black">{{ .Title }}</h2>
  </a>
  <p class="article-category">By
    <a class="text-grey" href="javascript:void(0);">{{ .Params.author }}</a>
    <span class="d-inline-block">
      <time datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
        {{(.Params.date).Format "January 2, 2006"}}
      </time>
    </span>
  </p>
  <p class="text-grey">
    {{ with .Description }}
      {{ . }}
    {{ end }}
  </p>
  {{ if .Params.excerpt }}
    <p class="text-grey">{{ printf "%s" .Params.excerpt | markdownify }}</p>
  {{ end }}
</header>
