<header class="heading">
  <a href="{{ .Permalink }}">
    <h2 class="f700 text-black">{{ .Title }}</h2>
  </a>
  <p class="article-category">By
    <a class="text-grey" href="javascript:void(0);">{{ .Params.author }}</a>
    <span class="d-inline-block">
      <time datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
        {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}
      </time>
    </span>
  </p>

  <p class="text-grey">
    {{ with .Description }}
    {{ . }}
    {{ end }}
  </p>
  {{ if .Params.excerpt }}
  <p class="text-grey">{{ printf "%s" .Params.excerpt | markdownify }}</p>
  {{ end }}
</header>

<!-- <header>
    <div class="title">
        {{ if $.Scratch.Get "h1" }}
            <h1>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            {{ $.Scratch.Set "h1" false }}
        {{ else }}
            <h2>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        {{ end }}
        {{ with .Description }}
            {{ . }}
        {{ end }}

        {{ if .Params.excerpt }}
            <p>{{ printf "%s" .Params.excerpt | markdownify }}</p>
        {{ end }}

    </div>
    <div class="meta">
        {{ if .Site.Params.orderByPublishDate }}
            {{ $.Scratch.Set "dateType" .PublishDate }}
        {{ else }}
            {{ $.Scratch.Set "dateType" .Date }}
        {{ end }}

        <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
            {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}
        </time>
        <div class="author">

            {{ $url := replace (lower .Params.author) " " "_" }}
            {{ $url := printf "img/team/%s.jpg" $url }}
            {{ if .Params.linkedin }}
                <a href="{{ .Params.linkedin }}"><img class="avatar img-circle hidden-sm" src="{{ $url | absURL }}"></a>
            {{ else }}
                <img class="avatar img-circle hidden-sm" src="{{ $url | absURL }}">
            {{ end }}
            <p class="name">{{ .Params.author }}</p>
        </div>

        {{ if .Site.Params.includeReadingTime }}
            <p>{{ .ReadingTime }}
                minute read</p>
        {{ end }}
    </div>
</header> -->