<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ $paginator := .Paginate (where (where .Data.Pages ".Params.blog_place" "!=" "popular") ".Params.blog_place" "!=" "banner") 9 }}
  {{ .Scratch.Set "paginatorURL" $paginator.URL }}
  {{ partial "head" . }}
  <body>
    {{ partial "nav" . }} 
    {{ template "blogs/banner.html" . }}
    <div class="page-blog-list">
      {{ template "blogs/blog-list-banner.html" . }} 
      {{ template "blogs/all-blogs.html" . }} 
      {{partial "pagination" .}}
    </div>
    {{ partial "newsletter.html" . }} 
    {{ partial "footer" . }} 
    {{ partial "js" .}}
  </body>
</html>
