<div class="sender-sub-main">
  <div class="sender-sub-inner">
    <div class="subscription-form">
      <h4 class="dont-break-out">ScaleReal Newsletter</h4>
      <div class="subscription-form-fields">
        <div class="subscription-form-content">
          <p dir="ltr">
            Fill in the form below to receive latest tech updates.
          </p>
        </div>
        <form
          id="sender-subscribe"
          action="https://app.sender.net/forms/sender_subscription/16164/42176bd7"
          method="POST"
        >
          <div class="subscription-form-fields" id="subscription-form-fields">
            <input
              name="firstname"
              class="text_type"
              id="firstname"
              data-label="First name"
              placeholder="First name"
              required
            />
            <input
              name="lastname"
              class="text_type"
              id="lastname"
              data-label="Last name"
              placeholder="Last name"
              required
            />
          </div>
          <input
            name="email"
            type="email"
            class="email_type"
            id="email"
            data-label="Email"
            placeholder="Email"
            required
          />
          <br />
          <div
            id="recaptcha-failed-message"
            hidden
            class="subscription-thank-you"
          >
            Recaptcha failed, try again!
          </div>
          <div
            class="g-recaptcha"
            data-callback="submitGR"
            style="
              transform: scale(0.68);
              -webkit-transform: scale(0.68);
              transform-origin: 0 0;
              -webkit-transform-origin: 0 0;
            "
            data-sitekey="6Lek36IZAAAAAHLJFLZbOmRMQNnwZSeCuKmTG0XM"
          ></div>
          <button
            id="submit-button"
            style="margin-top: 5px"
            type="submit"
            class=" "
          >
            Subscribe
          </button>
        </form>
      </div>
      <span class="sender-link-wrapper">
        <a
          class="sender-link"
          href="http://sender.net"
          title="Email marketing services"
        >
        </a>
      </span>
    </div>
  </div>
</div>
