<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head" . }}

  <body id="page-top">
    {{ partial "nav" . }}
    <header class="hero small-header"></header>
    <div class="container">
      {{ $paginator := .Paginate .Data.Pages }}
          {{ range $paginator.Pages }}
              {{ .Render "content-list" }}
          {{ end }}
      {{ partial "pagination" . }}
    </div>
    {{ partial "footer" . }}
    {{ partial "js" . }}
  </body>
</html>
