<section class="about-banner">
   <div class="grid-overlay"></div>
    <div class="glow glow-primary"></div>
    <div class="glow glow-accent"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <h2 class="section-title">
            AI-First. <span class="text-blue">Remote-First.</span> Results-First.
          </h2>
          <p class="section-subtitle section-info">
            We consider our work as our craft. So, like any craftsman we keep on
            improving the quality of our work to meet the client and user
            satisfaction.
          </p>
        </header>
      </div>
    </div>
  </div>
</section>
