<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <!-- <span class="section-chip-light">Team</span> -->
          <h2 class="f400 text-black">
            AI-First. <span class="f600">Remote-First.</span> Results-First.
          </h2>
          <p class="text-grey section-info">
            We consider our work as our craft. So, like any craftsman we keep on
            improving the quality of our work to meet the client and user
            satisfaction.
          </p>
        </header>
      </div>
    </div>
  </div>

  <div class="about-number bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-black text-center s">
          <span class="f800 stat-value" limit="7">0</span
          ><span class="f800">+</span>
          <p>Years in Business</p>
        </div>
        <div class="col-md-3 text-black text-center s">
          <span class="f800 stat-value" limit="9">0</span
          ><span class="f800">+</span>
          <p>Countries Served</p>
        </div>
        <div class="col-md-3 text-black text-center">
          <span class="f800 stat-value" limit="35">0</span
          ><span class="f800">+</span>
          <p>Projects Delivered</p>
        </div>
        <div class="col-md-3 text-black text-center">
          <span class="f800 stat-value" limit="3">0</span
          ><span class="f800">M+</span>
          <p>Happy Users</p>
        </div>
      </div>
    </div>
  </div>
</section>
