{{ "<!-- Company -->" | safeHTML }}

<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ $.Scratch.Set "company" true }} {{ partial "head" . }}

  <body>
    {{ partial "nav" . }}
    <div class="page-inner page-about">
      {{ template "company/banner.html" .}} 
      {{ template "company/our-story.html" .}} 
      {{ template "company/our-culture.html" .}}
    </div>
    {{ template "homepage/why-scalereal.html" .}}
    {{ template "homepage/global-footprint.html" .}}
    {{ partial "footer" . }}
    <script>
      const blogElement = document.querySelector(".company-stats");
      const counters = document.querySelectorAll(".stat-value");
      const speed = 200;
      let startAnimation = false;

      counters.forEach((counter) => {
        const animate = () => {
          const value = +counter.getAttribute("limit");
          const data = +counter.innerText;
          const time = value / speed;
          const timeout = value <= 10 ? 50 : value === 35 ? 10 : 220;

          if (data < value) {
            counter.innerText = Math.ceil(data + time);
            setTimeout(animate, timeout);
          } else {
            counter.innerText = value;
          }
        };
        animate();
      });
    </script>
  </body>
  {{ partial "js" . }}
</html>
