{{ "<!-- Company -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ $.Scratch.Set "company" true }}

{{ partial "head" . }}

<body>
    {{ partial "nav" . }}
    <div class="page-inner page-about">
        <section class="section-inner-banner">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <header class="heading content-center">
                            <h1 class="f700 text-black">Skilled team of professionals</h1>
                            <p class="text-grey">We consider our work as our craft. So, like any craftsman we keep
                                on improving the quality of our work to meet the client and user satisfaction.</p>
                        </header>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-number bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-black text-center s"><span class="f800 stat-value" limit="10">0</span><span class="f800">+</span>
                        <p>Years of experience</p>
                    </div>
                    <div class="col-md-4 text-black text-center"><span class="f800 stat-value" limit="35">0</span><span class="f800">+</span>
                        <p>Projects delivered</p>
                    </div>
                    <div class="col-md-4 text-black text-center"><span class="f800 stat-value" limit="3">0</span><span class="f800">M+</span>
                        <p>Happy users</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail how-we-work" id="how-we-work">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-2">
                        <div class="img-wrap">
                            <lottie-player src="{{ "lottieFiles/how_we_work.json" | absURL }}" background="transparent"
                                loop autoplay></lottie-player>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-1 align-self-center">
                        <header class="heading">
                            <h2 class="f700 text-black">How we work?</h2>
                        </header>
                        <p class="text-grey">We're a remote first company with a cohesive team, working
                            asynchronously to help people across the globe to build and scale their dream projects.
                        </p>
                        <p class="text-grey">We prefer documentation over talks and over communicating things to
                            make them clear to everyone. ScaleReal believes in small teams as they are fast and
                            nimble, which means less management and getting more things done.</p>
                        <p class="text-grey">We follow agile methodology which involves sprint planning, daily
                            updates, sprint retrospective, client demo, UAT apart from requirement gathering,
                            design work, feature implementation, testing, deployment and maintenance.</p>
                        <p class="text-grey">Instant feedback and healthy discussions are a part of ScaleReal’s
                            culture.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-approach">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <header class="heading content-center">
                            <h2 class="f700 text-black">Our systematic process</h2>
                            <p class="text-grey">ScaleReal have a clearly established approach to cater your
                                specific needs of building awesome products. We don't believe in a one size fits
                                all model, we know what works and what doesn't.</p>
                        </header>
                    </div>
                    <div class="col-lg-10 text-center">
                        <img src="{{ "images/approach.svg" | absURL }}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-service-detail even" id="work-with-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-wrap">
                            <lottie-player src="{{ "lottieFiles/what_its_like_to_work_with_us.json" | absURL }}"
                                background="transparent" loop autoplay></lottie-player>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <header class="heading">
                            <h2 class="f700 text-black">What it's like to work with us?</h2>
                        </header>
                        <p class="text-grey">Being a remote first organisation gives us access to a wider range of
                            talent pool and the flexibility to work when we feel most productive in a day.</p>
                        <p class="text-grey">We devote 20 percent of our time to self improvement, open source
                            contribution, technical sessions, internal projects, attending various conferences and
                            for giving talks. Since we are remote we meet every quarter for team bonding and
                            planning events.</p>
                        <p class="text-grey">Everybody at ScaleReal takes their craft seriously and that’s why
                            ownership and best practices like extreme programming, TDD, Clean Code, Refactoring,
                            CI/CD comes inherently.</p>
                        <p class="text-grey">We at ScaleReal offers you some amazing leave policies because we
                            believe that your physical health and mental health is as important as your work.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="our-culture more-bottom-space">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <header class="heading content-center">
                            <h2 class="f700 text-black">Our culture in action</h2>
                            <p class="text-grey">Meet the passionate individuals who make up the heart and soul of
                                ScaleReal. We're not just coworkers; we're a community of like-minded individuals who
                                are dedicated to making a difference.</p>
                        </header>
                    </div>

                </div>
            </div>
            <div class="image-slider">
                <div class="slider">
                    <div class="slider-group">
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img1.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img2.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img3.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img4.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img5.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img6.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img7.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img8.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img9.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img10.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img11.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img12.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img13.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img14.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img15.jpg" | absURL }}" alt="" />
                        </div>
                    </div>
                    <div class="slider-group">
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img1.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img2.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img3.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img4.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img5.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img6.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img7.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img8.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img9.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img10.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img11.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img12.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img13.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img14.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img15.jpg" | absURL }}" alt="" />
                        </div>
                    </div>
                </div>

                <div class="slider">
                    <div class="slider-group-2">
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img16.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img17.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img18.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img19.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img20.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img21.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img22.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img23.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img24.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img25.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img26.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img27.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img28.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img29.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img30.jpg" | absURL }}" alt="" />
                        </div>
                    </div>
                    <div class="slider-group-2">
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img16.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img17.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img18.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img19.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img20.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img21.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img22.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img23.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img24.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img25.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img26.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img27.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img28.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img29.jpg" | absURL }}" alt="" />
                        </div>
                        <div class="team-image-group">
                            <img class="team-image" src="{{ "images/culture/img30.jpg" | absURL }}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-cta bg-blue">
            <p class="text-white">We'd love to help you scale. <a href="/contact" class="btn-white f700">Let's
                    talk</a></p>
        </section>

    </div>
    {{ partial "footer" . }}
    <script>
        const blogElement = document.querySelector('.company-stats');
        const counters = document.querySelectorAll('.stat-value');
        const speed = 200;
        let startAnimation = false;

            counters.forEach(counter => {
                const animate = () => {
                    const value = +counter.getAttribute('limit');
                    const data = +counter.innerText;
                    const time = value / speed;

                    if (data < value) {
                        counter.innerText = Math.ceil(data + time);
                        setTimeout(animate, 20);
                    } else {
                        counter.innerText = value;
                    }
                }
                animate();
            });      
    </script>
</body>
{{ partial "js" . }}

</html>