<section id="global-footprints">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-globe"></div>
            <span>Global Footprint</span>
          </div>
          <h2 class="section-title">
            We'd Love to Help You <span class="text-blue">Scale</span>
          </h2>
          <p class="section-subtitle section-info">
            We've worked with forward-thinking clients across 10 countries.
            Let’s discuss how we can accelerate your product development.
          </p>
        </header>
      </div>
    </div>

    <!-- Countries -->
    <div class="sr-tags sr-tags--auto-marquee justify-content-center mb-5">
      <span>India</span>
      <span>USA</span>
      <span>UK</span>
      <span>South Africa</span>
      <span>Dubai</span>
      <span>Finland</span>
      <span>Nigeria</span>
      <span>Mauritius</span>
      <span>Sri Lanka</span>
      <span>Indonesia</span>
    </div>

    <!-- Actions -->
    <div class="sr-btn-wrapper">
      <a
        href="javascript:void(0)"
        class="sr-btn primary"
        data-cal-link="atul-shashikumar-dtgid6/scalereal-introduction-call"
        data-cal-namespace="scalereal-introduction-call"
        data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true"}'
      >
        Schedule Consultation
      </a>
    </div>
  </div>
</section>

<script type="text/javascript">
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api;
            p(cal.ns[namespace], ar);
            p(cal, ["initNamespace", namespace]);
          } else p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", "scalereal-introduction-call", { origin: "https://app.cal.com" });

  Cal.ns["scalereal-introduction-call"]("ui", {
    cssVarsPerTheme: {
      light: { "cal-brand": "#0ECCD8" },
      dark: { "cal-brand": "#FAFAFA" },
    },
    hideEventTypeDetails: false,
    layout: "month_view",
  });
</script>
