{{ "<!-- Company -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ $.Scratch.Set "company" true }} {{ partial "head" . }}

  <body>
    {{ partial "nav" . }}
    <div class="page-inner page-contact">
      {{ template "contact/banner.html" .}}
      {{ template "contact/engagement-model.html" .}} 
      {{ template "contact/engagement-flow.html" .}}
      {{ template "contact/contact-form.html" .}}
      {{ template "contact/schedule-consultation.html" .}}
    </div>
    {{ partial "footer" . }}
    <div id="toast"></div>
  </body>
  {{ partial "js" . }}
</html>
