<section class="section-blog section-blog-dark">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <header class="heading content-center">
          <span class="section-chip-dark">Blogs</span>
          <h2 class="f700 text-white">
            Read Our <span class="text-blue">Blogs</span>
          </h2>
          <p class="section-info stat-description">
            We have always believed in giving back to the community and blogging
            is one of our ways. It also helps us to find and fix the blind spots
            in our knowledge and this is what differentiates us from our
            competitors.
          </p>
        </header>
      </div>
    </div>

    <section class="blog-stats-dark">
      <div class="container">
        <div class="row text-center">

          <div class="col-md-4 blog-stat-item">
            <div class="stat-icon">
              <i class="fa solid fa-users"></i>
            </div>
            <div class="stat-number">
              <span class="f700 stat-value" limit="40">40</span><span>K+</span>
            </div>
            <p class="stat-label">Readers</p>
          </div>

          <div class="col-md-4 blog-stat-item">
            <div class="stat-icon">
              <i class="fa solid fa-clock"></i>
            </div>
            <div class="stat-number">
              <span class="f700 stat-value" limit="100">100</span><span>K+</span>
            </div>
            <p class="stat-label">Minutes Read</p>
          </div>

          <div class="col-md-4 blog-stat-item">
            <div class="stat-icon">
              <i class="fa-solid fa-eye"></i>
            </div>
            <div class="stat-number">
              <span class="f700 stat-value" limit="150">150</span><span>K+</span>
            </div>
            <p class="stat-label">Views</p>
          </div>

        </div>
      </div>
    </section>

    <div class="row justify-content-center mx-4">
      <a href="/blogs" class="hero-btn primary"> View All Articles → </a>
    </div>
  </div>
</section>
