<section class="section-blog">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <header class="heading content-center">
          <span class="section-chip-light">Blogs</span>
          <h2 class="text-black">
            Read Our <span class="f600">Blogs</span>
          </h2>
          <p class="section-info text-grey">
             We share our knowledge and insights on software development, AI, and
            We have always believed in giving back to the community and blogging
            is one of our ways. It also helps us to find and fix the blind spots
            in our knowledge and this is what differentiates us from our
            competitors.
          </p>
        </header>
      </div>
    </div>

    <section class="blog-stats-dark">
      <div class="container">
        <div class="row text-center">

          <div class="col-md-4 blog-stat-item">
            <div class="stat-icon">
              <i class="fa solid fa-users"></i>
            </div>
            <div class="stat-number">
              <span class="f700 stat-value" limit="40">40</span><span>K+</span>
            </div>
            <p class="text-grey">Readers</p>
          </div>

          <div class="col-md-4 blog-stat-item">
            <div class="stat-icon">
              <i class="fa solid fa-clock"></i>
            </div>
            <div class="stat-number">
              <span class="f700 stat-value" limit="100">100</span><span>K+</span>
            </div>
            <p class="text-grey">Minutes Read</p>
          </div>

          <div class="col-md-4 blog-stat-item">
            <div class="stat-icon">
              <i class="fa-solid fa-eye"></i>
            </div>
            <div class="stat-number">
              <span class="f700 stat-value" limit="150">150</span><span>K+</span>
            </div>
            <p class="text-grey">Views</p>
          </div>

        </div>
      </div>
    </section>

    <div class="row justify-content-center mx-4">
      <a href="/blogs" class="hero-btn secondary"> View All Articles → </a>
    </div>
  </div>
</section>
