<section class="bg-gradient">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <header class="heading content-center">
          <span class="section-chip-light">Knowledge Sharing</span>
          <h2 class="section-title">Read Our <span class="text-blue">Blogs</span></h2>
          <p class="section-subtitle section-info">
            We share our knowledge and insights on software development, AI, and
            We have always believed in giving back to the community and blogging
            is one of our ways. It also helps us to find and fix the blind spots
            in our knowledge and this is what differentiates us from our
            competitors.
          </p>
        </header>
      </div>
    </div>

    <div class="blog-analytics text-center">
      <div class="analytics-card">
        <span class="text-blue stat-number" limit="40">40</span
        ><span class="text-blue">K+</span>
        <p class="text-grey stat-label">Readers</p>
      </div>

      <div class="analytics-card">
        <span class="text-blue stat-number" limit="100">100</span
        ><span class="text-blue">K+</span>

        <p class="text-grey stat-label">Minutes Read</p>
      </div>

      <div class="analytics-card">
        <span class="text-blue stat-number" limit="150">150</span
        ><span class="text-blue">K+</span>

        <p class="text-grey stat-label">Views</p>
      </div>
    </div>

    <div class="row justify-content-center mx-4">
      <a href="/blogs" class="sr-btn secondary"> View All Articles → </a>
    </div>
  </div>
</section>
