<section id="clients" class="about-client pb-0">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-handshake"></div>
            <span>Clients</span>
          </div>
          <h2 class="section-title">
            Companies We <span class="text-blue">Helped</span>
          </h2>
          <p class="section-subtitle section-info">
            Big or small, Startups or grownups, we’ve been devoting our hearts
            and minds to our clients, achieving great successes and building
            lasting relationships.
          </p>
        </header>
      </div>
    </div>

    <div class="marquee-container">
      {{ $data := getJSON "/content/homepage/clients.json" }}
      <div class="marquee">
        <div class="marquee-group">
          {{ range $data.group1 }}
          <div class="image-group">
            <img
              class="client-image"
              src="{{ .src }}"
              alt=""
              title="{{ .title }}"
            />
          </div>
          {{ end }}
        </div>
        <div class="marquee-group">
          {{ range $data.group1 }}
          <div class="image-group">
            <img
              class="client-image"
              src="{{ .src }}"
              alt=""
              title="{{ .title }}"
            />
          </div>
          {{ end }}
        </div>
      </div>

      <div class="marquee">
        <div class="marquee-group-2">
          {{ range $data.group2 }}
          <div class="image-group">
            <img
              class="client-image"
              src="{{ .src }}"
              alt=""
              title="{{ .title }}"
            />
          </div>
          {{ end }}
        </div>
        <div class="marquee-group-2">
          {{ range $data.group2 }}
          <div class="image-group">
            <img
              class="client-image"
              src="{{ .src }}"
              alt=""
              title="{{ .title }}"
            />
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
