<section id="global-footprints">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <div class="section-chip-light">
            <div class="icon-globe"></div>
            <span>Global Footprint</span>
          </div>
          <h2 class="section-title">
            We'd Love to Help You <span class="text-blue">Scale</span>
          </h2>
          <p class="section-subtitle section-info">
            We've worked with forward-thinking clients across 10 countries. Let’s
            discuss how we can accelerate your product development.
          </p>
        </header>
      </div>
    </div>

    <!-- Countries -->
    <div class="sr-tags js-chip-marquee justify-content-center mb-5">
      <span>India</span>
      <span>USA</span>
      <span>UK</span>
      <span>South Africa</span>
      <span>Dubai</span>
      <span>Finland</span>
      <span>Nigeria</span>
      <span>Mauritius</span>
      <span>Sri Lanka</span>
      <span>Indonesia</span>
    </div>

    <!-- Actions -->
    <div class="sr-btn-wrapper">
      <a href="/contact" class="sr-btn primary"> Let's Talk <i class="icon-arrow-right"></i> </a>
    </div>
  </div>
</section>
