<section id="global-footprints" class="grid-overlay-wrapper">
   <div class="grid-overlay"></div>
    <div class="glow glow-primary"></div>
    <div class="glow glow-accent"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <header class="heading content-center">
          <span class="section-chip-light">Global Footprint</span>
          <h2 class="section-title">
            We'd Love to Help You <span class="text-blue">Scale</span>
          </h2>
          <p class="section-subtitle section-info">
            We've worked with forward-thinking clients across 9 countries. Let’s
            discuss how we can accelerate your product development.
          </p>
        </header>
      </div>
    </div>

    <!-- Countries -->
    <div class="sr-tags justify-content-center mb-5">
      <span>India</span>
      <span>USA</span>
      <span>UK</span>
      <span>South Africa</span>
      <span>Dubai</span>
      <span>Finland</span>
      <span>Nigeria</span>
      <span>Mauritius</span>
      <span>Sri Lanka</span>
    </div>

    <!-- Actions -->
    <div class="sr-btn-wrapper">
      <a href="/contact" class="sr-btn primary"> Let's Talk → </a>
      <a href="/contact" class="sr-btn secondary"> Email Us </a>
    </div>
  </div>
</section>
