<section class="bg-blue">
  <div class="container">
    <div class="stats-grid">
      <div class="stats-item">
        <div class="stats-icon">
          <i class="icon-clock"></i>
        </div>
        <h3 class="stats-value">7+</h3>
        <p class="stats-label">Years in Business</p>
      </div>

      <div class="stats-item">
        <div class="stats-icon">
           <i class="icon-globe"></i>
        </div>
        <h3 class="stats-value">10+</h3>
        <p class="stats-label">Countries Served</p>
      </div>

      <div class="stats-item">
        <div class="stats-icon">
          <i class="icon-code"></i>
        </div>
        <h3 class="stats-value">35+</h3>
        <p class="stats-label">Projects Delivered</p>
      </div>

      <div class="stats-item">
        <div class="stats-icon">
          <i class="icon-users"></i>
        </div>
        <h3 class="stats-value">3M+</h3>
        <p class="stats-label">Happy Users</p>
      </div>

    </div>
  </div>
</section>
