<section class="section-about bg-blue">
  <div class="container">
    <header class="heading">
      <h2 class="f700 text-white">Who We Are</h2>
    </header>
    <div class="row">
      <div class="col-lg-8">
        <div class="text-wrap">
          <p class="text-white">
            A team of like minded people translating requirements into code and
            delivering it as a high quality product. We believe in Open, Remote
            and Agile work culture apart from Technology, People, Process and
            Strategy.
          </p>
          <p class="text-white">
            Our mission is to establish ourselves as the best choice in
            Computing and Information Technology by offering the full spectrum
            of services. We are growing and would always like to remain on the
            growing streak.
          </p>
          <ul class="list-unstyled clearfix">
            <li>
              <a href="company#how-we-work" class="btn-white"
                >Company overview</a
              >
            </li>
            <li><a href="#clients" class="btn-white">Clients</a></li>
            <li>
              <a href="company#work-with-us" class="btn-white">Work with us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <ul class="list-unstyled about-number clearfix">
          <li class="text-white">
            <span class="f800">10+</span>
            <p>Years of experience</p>
          </li>
          <li class="text-white">
            <span class="f800">35+</span>
            <p>Projects delivered</p>
          </li>
          <li class="text-white">
            <span class="f800">3,000,000+</span>
            <p>Happy users</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
