{{ "<!-- Hero -->" | safeHTML }}

<div class="banner-home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <header class="banner-content">
                    <h1 class="f700 text-white">We build applications that scale beyond reality</h1>
                    <p class="text-white">A product and service based company with energetic team of passionate, self-driven
                                                                                              individuals building Mobile and Web applications.</p>
                    <a class="btn-arrow btn-white" href="contact">Let's scale</a>
                </header>
            </div>
        </div>
    </div>
</div>
