{{ "<!-- Projects -->" | safeHTML }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ $.Scratch.Set "projects" true }}
    {{ partial "head.html" . }}

    <body>
        {{ partial "nav" . }}
        <div class="page-inner page-projects">
            <section class="section-inner-banner">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8">
                            <header class="heading content-center">
                                <h1 class="f700 text-black">Handcrafted projects</h1>
                                <p class="text-grey">Explore some of our high quality, cost effective, reliable and
                                                                        easy-to-use applications that we built for our clients to solve their complex
                                                                        business problems.</p>
                            </header>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-service-detail project-detail bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="img-wrap">
                                <img src="{{ "images/project1.png" | absURL }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 align-self-center">
                            <header class="heading">
                                <h2 class="f700 text-black">Ten Fold Education</h2>
                                <p class="text-grey">South Africa’s first Mobile based learning application for High
                                                                        School learners. It helps them excel in academics while engaging them in a fun and
                                                                        interactive way.</p>
                                <div class="project-tech">
                                    <p class="f700 text-grey">Technologies</p>
                                    <p class="text-grey">Python, Django, Postgres , Ansible, Js, Mathjax, Java, Kotlin,
                                                                                Retrofit, Dagger, Swift, Objective C</p>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-service-detail even">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-wrap">
                                <img src="{{ "images/project2.png" | absURL }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <header class="heading">
                                <h2 class="f700 text-black">Mercedes Benz</h2>
                                <p class="text-grey">Hybrid mobile application which helps dealers to take superior
                                                                        pictures of used cars. It’s an easy to use and intuitive mobile app which allows
                                                                        dealers to standardize the process of taking pictures.</p>
                                <div class="project-tech">
                                    <p class="f700 text-grey">Technologies</p>
                                    <p class="text-grey">Python, Django, Postgres , Ansible, Js, Unity3D</p>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-service-detail bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="img-wrap">
                                <img src="{{ "images/project3.png" | absURL }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 align-self-center">
                            <header class="heading">
                                <h2 class="f700 text-black">DBE Cloud</h2>
                                <p class="text-grey">Integration of learning videos with CLOX device which helps store
                                                                        all the data without servers for offline video streaming. CLOX can be used with
                                                                        TV’s, Projectors, Mobile Devices and Desktop Computers.</p>
                                <div class="project-tech">
                                    <p class="f700 text-grey">Technologies</p>
                                    <p class="text-grey">Python, Django, Postgres , Ansible, Js, Flask, HLS</p>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-service-detail even">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-wrap">
                                <img src="{{ "images/project4.png" | absURL }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <header class="heading">
                                <h2 class="f700 text-black">Smart Quest</h2>
                                <p class="text-grey">SmartQuest reinforces training / learning with the help of
                                                                        micro-content like Quizzes, Reference Lists, Lessons, News Feed. It helps in staying
                                                                        up-to-date with the latest news & events in your company and sector. SmartQuest also
                                                                        facilitates First Line Managers to regularly rate their Sales reps on selling
                                                                        parameters on a consistent framework using Manager Feedback.</p>
                                <div class="project-tech">
                                    <p class="f700 text-grey">Technologies</p>
                                    <p class="text-grey">Vue.js, JavaScript, Webpack, Material Design, MongoDB, Ruby on
                                                                                Rails</p>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-service-detail bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="img-wrap">
                                <img src="{{ "images/project5.png" | absURL }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 align-self-center">
                            <header class="heading">
                                <h2 class="f700 text-black">Mindset</h2>
                                <p class="text-grey">An online learning application for tracking, reporting, and
                                                                        delivery of educational courses along with a CMS panel for admin to create and
                                                                        integrate course materials, align content and assessments, articulate learning goals
                                                                        and track studying progress.</p>
                                <div class="project-tech">
                                    <p class="f700 text-grey">Technologies</p>
                                    <p class="text-grey">Python, Django, Postgres , Ansible, Js, Flask, HLS</p>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-cta bg-blue">
                <p class="text-white">We'd love to help you scale.
                    <a class="btn-white f700" href="contact">Let's
                                                talk</a>
                </p>
            </section>

        </div>
        {{ partial "footer" . }}

    </body>

</html>
